<div>
  <h2 id="page-heading" data-cy="ChildToDietHeading">
    <span>Child To Diets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-child-to-diet"
        [routerLink]="['/child-to-diet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Child To Diet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="childToDiets?.length === 0">
    <span>No childToDiets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="childToDiets && childToDiets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Id Child</span></th>
          <th scope="col"><span>Id Diet</span></th>
          <th scope="col"><span>Id Child</span></th>
          <th scope="col"><span>Id Diet</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let childToDiet of childToDiets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/child-to-diet', childToDiet.id, 'view']">{{ childToDiet.id }}</a>
          </td>
          <td>{{ childToDiet.idChild }}</td>
          <td>{{ childToDiet.idDiet }}</td>
          <td>
            <span *ngFor="let idChild of childToDiet.idChildren; let last = last">
              <a class="form-control-static" [routerLink]="['/child', idChild.id, 'view']">{{ idChild.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let idDiet of childToDiet.idDiets; let last = last">
              <a class="form-control-static" [routerLink]="['/diet', idDiet.id, 'view']">{{ idDiet.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/child-to-diet', childToDiet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/child-to-diet', childToDiet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(childToDiet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
